language:
  - php
  - node_js
php:
  - 7.1
node_js:
  - 6.10
cache:
  directories:
    - node_modules
install:
  - npm install
script:
  - composer update
  - vendor/bin/phpunit --coverage-clover build/logs/clover.xml
after_success:
  - vendor/bin/coveralls -v
  - vendor/bin/phpcs -n --standard=PSR1,PSR2 src/
  - vendor/bin/phpcbf src/
  - ENVIRONMENT_NAME=$TRAVIS_BRANCH
  - if [ "$TRAVIS_BRANCH" == "master" ]; then ENVIRONMENT_NAME=production; fi
notifications:
  slack:
    secure: kWMFJkqT0rV0bWijBGJcQQbGfmFtbZkm5gQVlEse1bZtJJGlTrbXGPvl35djHeKsRDp/j7s7oiCwyd6dP3ieq/Mn0CR5XIb1w6Jw7fQH3nIOxqEjuyRLrTEaolSIYRkmF/s+lYZ7eevd/xT4oWTbfbkk+tRuB2bjpwnU88py4avHQgVZKqsY1gE3oqVfAYYetJ8d7sH01Cw9HUMZkt4m6Cg5Yb7l2MoD0V92wAzWVBeDka5g4RsY9MWXZxwoF4+7sH8iALuVAgIropHofVPTsNdxJWyOtcVgxP5FtZoWzG+2edqnboi2HtVwf2DzAGdgFGCXXDhMK6YaSDDvEdB6/p7Ztx2KGRIM+W8dEsmgb/s4w6XBz2jsrXglcFIj6LlK1yENWYZxFDIYCGef018p4J2u592GIkOpZDbuFe2wBhVTsu0GcwQxfVY1lwA/ABs4btri+tt4Fdq30lQ1tswk7a/3UPLkVtR6bOsYjtLZywryZW34bwk7I9jRY0g8U0ax6mnc4z+wW1FGfwlkKQTCWdO0NgT9yXXbk/BYFIv9RigWvo4CUImIcssAKVl5WqzBazZrS8ffQ/X0oekk/Ein4r5wGHY2jne+QhSOCfnKLLYZr+BYDzm1yRLGLySc2h7brcqe00zftPHUyBqWgdcdgS94Rib9zXs+wo1pau6RIto=
deploy:
  - provider: script
    skip_cleanup: true
    script: "./scripts/travis-deploy.sh $ENVIRONMENT_NAME"
    on:
      all_branches: true
      condition: "$ENVIRONMENT_NAME =~ ^(development|qa|production)$"
after_deploy: echo 'Successfully executed deploy trigger for Cancel Request Result
  Consumer on AWS'
env:
  global:
  - secure: r8TOYDcrNBTjSzymmgGORDAuzgh9m8JsSkFxt06erMFZF9QLX9+s+Qn5uEY7G0WJ7+qrYdDmr/6yhAm5nDDlhOW9umiXfzI6zqLxkCgaXgYVb5J6EPdzcSeNmFOEiJfy3ojrLne2/48H2OvcCYjmIJTMCelCSjKAw21BBPEvx3bA8KdTnFLlNq9Rv9Gf2aE8xW1m1VHJ6uwzhCtzHxBnm+FsqhPdGuBcts5v7bjBkxnHhufGx8shZ7HrcfaiLDrMcbNn8bvHBKY2zMe3zJXKyVf9hM1LohQR3/C3/r+wWIWUgKmpJqLAyWT1DOu9xXAzmFK3eGVaYcwJkovzlKyPGQzUM4j+P3HpPYFAx1ntSyOOINnhLRY/TCivGkij7Z/1eZB5lx0HAu/MmlS+WWLLkLWj6bKpDREJuQCcv21T8cOIQlZ7I9bnPSuoXJohVgNEjkumTWMqymslgWKR4jHlEen9lBVmTw8MByL802c7jZfQkj71zNHPMd5fwI5m+3pT24mU9cKD3nAbc+qvFEoPKtktJZx8EDqaeUedu1mXu5m02ltb8AB8HWcEw2SREZNyoYwmEbHXI/OjaOEU3Ee1n12y/J4vtu1vBzWJgJ1B9N8ykFgdiUmjgmCtm/Sc1JMSk6vM6yXjBFUsg3ujc2mFvhJ68Ygi2rS18OWEMlX+yeo=
  - secure: jTPyfWxeflxXmlyOtcY9YR0Q9YTFZyT0Erqb7rgNK6ap+iGBbL6tJz38e1nsUbugMetBv0LTUrIfDN8dOMrmeO+jTzpKdNGUUZn2o2pbSShoTb3Cblm1pRFCY1zdkKh8CLEFGVgsYYc/Uxx1LotxOhjNyV69jd39Cheo4CmfheFcbnW/FnPhdjpnsb5xee+DEgY038f9H4JWOVeUQwzRYRb/uqoCavdvNuNUnY5GAsquKOtnA2aE9Zt25iu2PPbftFDjKFopmublPHmdHxtM8zmowptUUtHt0X5q/BUCL7Q5DKKxfAJijY9XZgGmV+JuX2BmhwfeVWw+415CBgV3Wq8HGg95fxm/PhnpZwHdPJiJervlYF0PyRe4bnboD/4uDYIB4hW5oNw5CElfYpEWsqp9/7NdqJijNtjNXAVX/1EdvNaHT38r7iVT4ccm8WV4byQofQ1RWgtACKyGIynDlxO4lHxJ8h88r5HFd5eR+jqGVzx5OocRY4mnh/LkRtOMIt8EwtaEz9Y7rz9aTN7FIO0VT7PHz9k6rTbvpBzsabK247FpImbE0h0Oib7xRhFLZsTpEIwrq/YeG+ZGRVIyF7eeJ3I3Y4c82lO86fX4xQjZWhJTqIf2ST5nbSqQnmDWPDIgGgsDU35FFW9VoABE29mQ7CuoUfbxw5FTNxGjUk8=
  - secure: fmeQs3vVIMFqGfyF3uLYUpOeBkzv2S57OBUxWQp6Oj9Or8URcy3miAV6qvt5fcFWQ5Coy5/FG2Lt6RI/KlqizqLSBB88wt/G/HU1rBaVy/M8uSv+jm6w4S/LKrObx+uxMj7vri7YYsLe5tDmyRJfiUwNbvI7CspE0blqgdIT4soi+zpGSbzgbtVlCWYD3fACRcYzst28ZQT5oWjCsqtnN2DlrLxfykgRhj+ha+urkkT4BZYQa0X1vZk7Fx6HzGmbKfNSFLqpo2czi/8Al4K/7+1FABI34pDnO4EyoVGq33qOFfjpoYjMTHtSTZ40oFVKgYlUCz5zyMUPhg/eFI3BJzEhN8WQfNDkWfd2SRz8mwLDbVgT/W1fOfzkpMZk6KGpaWQIHgYOJFbqbSDVnGKaEfiQZKQCXK8jG+8wp3zHNiwHc5dxBJXAw5la61DYMUgfjeGwq5VTruduM1YyjYTOREVEeclsGTjNStKU3bgYl6EtP22ReLFAl/MscOuqKIexnzKiwWhUW90M2eEFVSj1APcdS6BC3nOkh9ocTBBKFAQkqHzNz9VywGZRp4TbxFiL6QMjKnRPqBFSqy6u8ZgZ4PyGvaCyFZkVolk6no13nGCBYVUb1ny9bByIQJSLklqJKGJ3FPlv5IJuAG4A4DOqRFk3zqokaz4z4F7wgvPauyQ=
